@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
.nav-link{
	color: white;
	font-weight: 900;
		text-shadow: 2px 2px 12px black, 0 0 25px blue, 0 0 5px darkblue;

}
.navbar-toggler-icon{
	border: 20px;
	color: white;
}
.navbar-toggler{
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card{
	box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.btn{
	box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}